{
  "plugins": ["transform-object-rest-spread", "syntax-dynamic-import"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react"
  ]
}
