{
  "plugins": [
    "transform-object-rest-spread",
    "dynamic-import-webpack",
    "transform-class-properties"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react"
  ]
}
